@charset "uft-8";

html {height: 100vh;}
body {
    font: 16px/1.5 "Noto Sans KR", snas-serif;
    background: url("https://cdn.pixabay.com/photo/2015/01/06/14/28/alarm-clock-590383_960_720.jpg") no-repeat center / cover;
}
a, a:link {
    text-decoration: none;
    color: inherit;
}
.d-none {display: none;}
/* ==================================================================== */
.header-top {
    border-bottom: 1px solid #fff;
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    padding: 1.5rem 0;
}
.top-wrap {
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.top-links {
    display: flex;
    column-gap: 30px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 5px #000;
}
i {
    margin-right: 5px;
}
/* ==================================================================== */
.article-wrap, #result_pop {
    width: 400px;
    height: 500px;
    position: absolute;
    left: 30%;
    top: 53%;
    transform:translate(-50%, -50%);
    z-index: 100;
}
#result_pop {
    background: white;
    z-index: 1000;
}
article h2, article p {
    color: white;
    text-shadow: 3px 3px 7px #000;
}
article h2 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
article p {
    margin: 0.5rem 0;
    margin-bottom: 40px;
}
#calc {
    position: absolute;
    bottom: 0;
    background: rgba(255, 0, 0, 0.692);
    color: white;
    padding: 0.7rem 1rem;
    border: 2px solid white;
    border-radius: 0.750rem;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}
/* ==================================================================== */
.form-list li {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}
.form-list label{
    display: block;
    flex: 1;
    margin-left: 15px;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
}
.form-list input {
    margin-top: 10px;
    flex: 3;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.199);
}
.form-list li input::placeholder {
    color: rgb(255, 255, 255);
}
#userYear, #userMonth, #userDate {
    padding: 1rem 0;
    color: white;
    text-indent: 0.7rem;
    border: 1px;
}
.form-list li:nth-last-child(1) {
    justify-content: center;
    column-gap: 15px;
}
#ddayCalc, #ddayReset {
    flex: 100px;
    color: white;
    padding: 0.7rem 1rem;
    border: 2px solid white;
    border-radius: 0.750rem;
    font-size: 20px;
    font-weight: 500;
    margin-top: 60px;
}

/* =====================미디어쿼리======================= */
@media screen and (max-width: 480px) {
    .top-wrap {
        max-width: 100%;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
    }
    #burger {
        display: inline-block;
        text-shadow: 0px 0px 5px #000;
    }
    .top-links {display: none;}
    .article-wrap {
        max-width: 40%;
        padding: 0 70px;
    }
}
@media screen and (max-width: 375px) {
    .article-wrap {
        width: auto;
        max-width: 50%;
    }
    article h2 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 320px) {
    .article-wrap {
        width: auto;
        max-width: 50%;
    }
    article h2 {
        font-size: 1.5rem;
    }
}